.main-content {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
#container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-y: hidden;
  overflow-x: scroll;
  width: 100vw;
}
@media (max-width: 1024px) {
  #container {
    height: 50vh;
  }
}
#container img {
  width: 50vw;
}
.horizontal {
  height: 100%;
}
.horizontal::-webkit-scrollbar {
  width: 1rem;
}
.horizontal::-webkit-scrollbar-track {
  background: rgb(70, 70, 70);
  border-radius: 100vw;
  margin-inline: 5rem;
  margin-top: 1rem;
}
.horizontal::-webkit-scrollbar-thumb {
  background: darkgray;
  border-radius: 100vw;
}
.horizontal::-webkit-scrollbar-thumb:hover {
  background: rgb(110, 110, 110);
  border-radius: 100vw;
}
.image {
  width: 600px;
  height: 250px;
}
.image img {
  width: 35vw;
  height: 33vw;
  object-fit: contain;
}
.article {
  width: 99vw;
}
.panelbtn {
  position: absolute !important;
  right: 0;
}
