@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
  .paused {
    animation-play-state: paused;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  color: white;
  background: rgb(23, 22, 31);
  background-size: cover;
  background: radial-gradient(
    circle,
    /* rgba(23, 22, 31, 1) 0%, */ rgb(15, 15, 16) rgb(18, 19, 20) 100%
  );
  /* overflow-x: hidden; */
  --sb-track-color: #17161f;
  --sb-thumb-color: #635a5a;
  --sb-size: 12px;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::selection {
  background: rgba(255, 204, 0, 0.3);
  text-shadow: none;
  color: white;
}
.headline {
  font-family: "Analogue", Helvetica, Arial, sans-serif;
  font-weight: 100;
}
.inset {
  position: absolute;
  inset: 0;
  z-index: -1;
}
.backdrop-2 {
  /* From https://css.glass */
  background: rgba(23, 22, 31, 0.7);
  border-radius: 16px;
  padding: 5vw;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.full {
  height: 100vh;
}
.gradient {
  background: linear-gradient(rgba(14, 62, 151, 0.5) 50%, #17161f);
}
